{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %} {% endblock title %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">

    
</head>
<body>

    <!-- Header start here -->
   
    {% include "header.html" %}
    <!-- Header end here -->


    {% block content%}

    {% endblock content %}

    <!-- Footer start here -->
   
    {% include "footer.html" %}
 
    <!-- Footer end here -->

<!-- Compiled and minified JavaScript -->
<script  type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>


{% block extrascript %}
{% endblock extrascript %}
</body>



</html>